body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

.header {
	justify-content: center !important;
}
.row {
	text-align: center !important;
}

h1 {
	font-size: 60px;
	color: darkgreen;
  text-align: center;
}

h2 {
	font-size: 40px;
	color: darkred;
  text-align: center;
}

p {
  font-size: 20px;
	color: darkgrey;
  text-align: center;
}

div#burgerLoop {
    margin-top: 25px;
}

.formButton {
	margin-top: 200 px !important;
}

button.btn.btn-success {
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
	}


pre {
	  display: block;
	  margin-top: 0;
	  margin-bottom: 1rem;
	  font-size: 20px;
	  color: darkgreen;
	}

button #textEnterButton {

	}
